/* Variables */
@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./buttons.css');
@import url('./main.css');
@import url('./index.css');
@import url('./variables.css');


/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-image: url('./images/bluegradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: bold;
}

a:hover {
  color: var(--secondary-color);
}

a:active {
  color: yellowgreen;
}

button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:active {
  background-color: var(--button-active-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--text-color);
}

/* Layout and Containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  overflow: auto;
  flex: 1;
  color: var(--text-color);
}

.main {
  margin: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Typography */
h2 {
  font-family: 'Bebas Neue', cursive;  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  color: var(--text-color);
}

.main h1 {
  font-family: 'Bebas Neue', cursive;  font-size: var(--font-size-large);
  color: var(--primary-color);
}

.main p {
  line-height: 1.6;
  text-align: center;
  color: var(--text-color);
  font-family: 'Bebas Neue', cursive;
  margin: 0 0.5rem;
}

#name {
  font-size: var(--font-size-large);
  color: var(--text-color);
}

#tech {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 0;
}

.about_main  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem 2.5rem 2.5rem;
}

/* Components */
.about-me-email,
.anchor,
#anchor {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-me-email:hover,
.anchor:hover,
#anchor:hover {
  color: var(--secondary-color);
}

.about-me-email:active,
.anchor:active,
#anchor:active {
  color: yellowgreen;
}

.about-me-email:visited {
  color: var(--primary-color);
}

.about-me-email:focus {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.submit-button {
  background-color: var(--button-background-color);
  width: 40%;
  text-align: center;
  color: var(--text-color);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0.5rem;
}

.submit-button:hover {
  background-color: var(--button-hover-color);
}

.submit-button:active {
  color: var(--tertiary-color) !important;
  background-color: var(--button-active-color);
}


/* Images */
img {
  width: 60px;
  margin: var(--margin);
}

img.logo {
  z-index: 1000 !important;
}

#profile {
  margin-bottom: var(--margin);
  border-radius: 50%;
  width: 150px;
}

.logo {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  overflow-x: hidden;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .main h1 {
    font-size: 1.8em;
  }

  .main p {
    font-size: 1.1em;
  }

  #name {
    font-size: 1.8em;
  }

  #profile {
    width: 130px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 10px;
  }

  .main h1 {
    font-size: 1.5em;
  }

  .main p {
    font-size: 1em;
  }

  #name {
    font-size: 1.5em;
  }

  #profile {
    width: 100px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px;
  }

  .main {
    padding: 20px;
  }

  .main h1 {
    font-size: 1.2em;
  }

  .main p {
    font-size: 0.9em;
  }

  #profile {
    width: 80px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 1rem;
  }
}
