/* Variables */
@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./buttons.css');
@import url('./main.css');
@import url('./index.css');
@import url('./variables.css');

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px; /* Base font size */
  background-image: url('./images/bluegradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--secondary-color);
}

a:active {
  color: yellowgreen;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--text-color);
  font-size: 0.875rem; /* 14px */
}

/* Layout and Containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: auto;
  color: var(--text-color);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.main {
  margin: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project {    
  color: var(--primary-color);
  margin: 1rem;
  font-size: 1rem; /* 16px */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1rem; /* 16px */
}

.center-text {
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem; /* 16px */
  font-family: var(--font-family);
} 

.about_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem 2.5rem 2.5rem;
  font-size: 1rem; /* 16px */
}

/* Components */
.about-me-email,
.anchor,
#anchor {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem; /* 16px */
}

.about-me-email:hover,
.anchor:hover,
#anchor:hover {
  color: var(--secondary-color);
}

.about-me-email:active,
.anchor:active,
#anchor:active {
  color: yellowgreen;
}

.about-me-email:visited {
  color: var(--primary-color);
}

.about-me-email:focus {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.submit-button {
  background-color: var(--button-background-color);
  width: 40%;
  text-align: center;
  color: var(--text-color);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* 16px */
  margin: 0.5rem;
}

.submit-button:hover {
  background-color: var(--button-hover-color);
}

.submit-button:active {
  color: var(--tertiary-color) !important;
  background-color: var(--button-active-color);
}

/* Images */
img {
  width: 60px;
  margin: var(--margin);
}

img.logo {
  z-index: 1000 !important;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



#profile {
  margin-bottom: var(--margin);
  border-radius: 50%;
  width: 150px;
}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {

  #name {
    font-size: 1.125rem; /* 18px */
  }

  #profile {
    width: 130px;
  }

  .logo-container {
    gap: 1.5rem;
  }

  .logo {
    width: 50px;
  }
}

@media (max-width: 768px) {


  #name {
    font-size: 0.9375rem; /* 15px */
  }

  #profile {
    width: 100px;
  }

  .logo-container {
    gap: 1rem;
  }

  .logo {
    width: 40px;
  }
}

@media (max-width: 480px) {





  #profile {
    width: 80px;
  }

}
