/* Variables */
:root {
  --primary-color: #61dafb;
  --secondary-color: #0fa9c1;
  --tertiary-color: #124047;
  --background-color: #183250;
  --text-color: #fff;
  --font-family: 'Roboto', sans-serif;
}

/* Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: var(--font-family);
  background-image: url('./images/bluelines.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgb(33, 66, 150);
  color: aqua;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  color: yellow;
  cursor: pointer;
}

button:active {
  color: rgb(0, 255, 30);
  background-color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  overflow: auto;
  flex: 1;
}

div>.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-top: 3px solid var(--primary-color);
  padding: 10px;
}

header {
  background: var(--background-color);
  color: var(--text-color);
  padding: 10px 0 !important;
  margin: 0 !important;
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.3s ease;
}

header a:hover {
  color: var(--secondary-color);
}

header li {
  padding: 0 20px;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 60px;
  margin: 2rem;
}

.logo {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 90vw;
}

.logos {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 3rem;
  padding: 20px;
  margin-bottom: 3rem;
}

.main {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  justify-content: center;
  background-position: center;
  min-height: 50vh;
  background-color: transparent;
  width: 100%;
}

.main h1 {
  font-size: 2em;
  color: #282c34;
}

.main p {
  line-height: 1.6;
  text-align: center;
}

.menu-toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #282c34 !important;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: none;
  margin: 0 auto;
}

.menu-toggle:hover {
  background-color: var(--secondary-color);
}

.p {
  width: 90%;
}

.section {
  padding: 20px;
  margin: 20px 0;
  color: var(--text-color);
  border-radius: 5px;
}

.section {
  margin: 2rem;
}

#anchor {
  color: aqua;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#contact_main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

#experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#name {
  font-size: 2em;
  color: var(--text-color);
}

#profile {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 150px;
}

#tech {
  text-align: center;
  color: var(--text-color);
  padding-top: 2rem;
}

.about-me-email {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-me-email:hover {
  color: var(--secondary-color);
}

.about-me-email:active {
  color: var(--tertiary-color);
}

.about-me-email:visited {
  color: var(--primary-color);
}

.about-me-email:focus {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.background {
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
}

.find {
  color: white;
  font-size: 14px;
}

.find {
  margin-top: 1rem;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.nav-items a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .main h1 {
    font-size: 1.8em;
  }

  .main p {
    font-size: 1.1em;
  }

  #name {
    font-size: 1.8em;
  }

  #profile {
    width: 130px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    padding: auto;
  }

  .main h1 {
    font-size: 1.5em;
  }

  .main p {
    font-size: 1em;
  }

  #name {
    font-size: 1.5em;
  }

  #profile {
    width: 100px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px;
  }

  header {
    flex-direction: column;
    padding: 10px 0;
  }

  header li {
    padding: 5px 0;
  }

  header ul {
    flex-direction: column;
  }

  .main {
    padding: 20px;
  }

  .main h1 {
    font-size: 1.2em;
  }

  .main p {
    font-size: 0.9em;
  }

  #profile {
    width: 80px;
  }

  .logos {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 1rem;
  }
}
