@import './buttons.css';

button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--button-hover-color);
  transform: scale(1.05);
}

button:active {
  background-color: var(--tertiary-color);
  transform: scale(0.95);
}

.submit-button {
  width: 40%;
}

.submit-button:active {
  color: var(--tertiary-color) !important;
}

.menu-button {
  background-color: rgb(14, 66, 255);
}

.menu-button:hover {
  background-color: rgba(14, 102, 255, 0.552);
}

.menu-button:active {
  background-color: rgba(14, 255, 94, 0.544);
  color: var(--tertiary-color);
}

.icon {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
}

.icon:hover {
  background-color: var(--button-hover-color);
  border-radius: 5px;
  transform: scale(1.1);
}

.icon:active {
  background-color: #0055ff;
  color: var(--text-color);
  transform: scale(0.9);
}