@import url('./variables.css');

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  margin: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #008CBA !important; /* Default Blue */
  color: white !important;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #007bb5 !important; /* Hover Blue */
}

.submit-button:active, button:active {
  transform: scale(0.95);
  color: white !important;
  background-color: #005f87 !important; /* Active Blue */
}

