@import './variables.css';

footer.footer {
  position: relative; /* or static */
  bottom: auto;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-top: 3px solid var(--primary-color);
  bottom: 0;
  padding: 1rem;
}

@media (max-width: 1200px) {
  footer.footer {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

@media (max-width: 992px) {
  footer.footer {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}

@media (max-width: 768px) {
  footer.footer {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  footer.footer {
    font-size: 0.7rem;
    padding: 0.4rem;
  }
}

@media (max-width: 480px) {
  footer.footer {
    font-size: 0.6rem;
    padding: 0.3rem;
  }
}