@import './variables.css';


footer.footer {
  position: relative; /* or static */
  bottom: auto;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-top: 3px solid var(--primary-color);
  padding: 1rem;
}

@media (max-width: 1024px) {
  footer {
    padding: 1.5rem;
  }

  footer.footer {
    padding: 1rem;
  }
  
}

@media (max-width: 768px) {
  footer {
    padding: 1rem;
    flex-direction: column;
  }

  footer.footer {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8rem;
  }

  footer.footer {
    font-size: 0.8rem;
  }
}