@import './variables.css';

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-top: 3px solid var(--primary-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

footer.footer {
  position: relative; /* or static */
  bottom: auto;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-top: 3px solid var(--primary-color);
  padding: 1rem;
}