@import url('./header.css');
@import url('./variables.css');

header {
    background-color: var(--background-color);
    border-bottom: 5px ridge var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow header content to wrap on smaller screens */
    justify-content: center; /* Center the header content horizontally */
    align-items: center; /* Center the header content vertically */
    padding: 0;
}

footer {
    background-color: var(--background-color);
    border-top: 3px solid var(--primary-color);
    margin-top: auto;
    padding: 1rem;
    text-align: center;
}

.listItem {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.menu-container {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}

.nav-container {
    align-items: center;
    background-color: var(--background-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
}

.nav-items {
    align-items: center; /* Center items vertically */
    background-color: var(--background-color);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: center; /* Center items horizontally */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items a {
    color: var(--text-color);
    display: flex;
    font-family: 'Arial Black', Gadget, sans-serif; /* Change font-family to Arial Black for a standout effect */
    font-size: clamp(1rem, 2vw, 2rem); /* Responsive font size */
    justify-content: center;
    align-items: center; /* Center text inside the links */
    margin: 1rem;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-items a:hover {
    color: var(--secondary-color);
    transform: scale(1.1); /* Slightly enlarge the link on hover */
}

.nav-items a:active {
    color: yellowgreen;
    transform: scale(0.95); /* Slightly shrink the link when active */
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .nav-items a {
        margin: 0rem;
    }
}

@media (max-width: 768px) {
    .menu-container {
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .nav-items {
        display: flex;
        flex-direction: column; /* Stack items vertically on smaller screens */
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column; /* Stack header content vertically on smaller screens */
    }
}
