@import './variables.css';

header {
  background: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  margin: 0;
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header li {
  padding: 5px 0;
}