
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  justify-content: center;
  background-position: center;
  height: 100vh;
  background-color: transparent;
  width: 100%;
}


.main p {
  line-height: 1.75;
  text-align: center;
  color: var(--text-color);
  margin: 0 0.5rem;
}

#name {
  font-size: var(--font-size-large);
  color: var(--text-color);
}

#experience, #tech {
  font-size: var(--font-size-medium);
  color: var(--text-color);
}


.heaadings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}